//Это основной файл стилей, подключается в index.jsx. Тут только глобальные стили
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic);
@import "normalize-scss";
@import "config";

//Инициализируем normalize-scss
@include normalize();

*,
*::before,
*::after {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  outline: none;
  user-select: text;
}

[disabled] {
  opacity: $uiComponentDisabledOpacity;
  pointer-events: none;
  [disabled] {
    opacity: 1;
  }
}

html,
body,
#root {
  height: 100%;
}

body,
input,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $uiDarkColor;
  color: $uiFontColor;
  font-size: $uiFontSize;
  text-align: center;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  td {
    padding: 0;
  }
}

a {
  color: $uiLinkColor;
  font-weight: bold;
  &:active {
    opacity: 0.6;
  }
}

form {
  $inputWidth: $contentMinWidth - $contentDefaultIndent * 4;
  $inputMargin: $contentDefaultIndent $contentDefaultIndent / 2;
  label,
  input[type=radio],
  input[type=checkbox] {
    margin: $contentDefaultIndent / 2;
    vertical-align: middle;
  }
  input[type=text],
  input[type=number],
  input[type=tel],
  input[type=email],
  input[type=password],
  select {
    appearance: none;
    display: inline-block;
    width: $inputWidth;
    height: 30px;
    margin: $inputMargin;
    padding: 0 $contentDefaultIndent / 2;
    border: 1px solid $uiBorderColor;
    border-radius: 4px;
    background-color: $inputBackgroundColor;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    &:not(:placeholder-shown),
    &:required {
      &:invalid {
        box-shadow: inset 0 0 7px #ff2500;
      }
    }
  }
  select {
    text-align-last: center;
  }
  span {
    vertical-align: middle;
    &[role=radiogroup],
    &[role=listbox] {
      display: inline-flex;
      justify-content: center;
      width: $inputWidth;
      margin: $inputMargin;
      &[data-type=date] {
        select {
          margin: 0;
          &:first-child {
            margin-right: $contentDefaultIndent / 2;
          }
          &:last-child {
            margin-left: $contentDefaultIndent / 2;
          }
        }
      }
    }
  }
}
